<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let satellite of satellites">
        <td *ngIf="satellite !== ''">{{satellite.name}}</td>
        <td *ngIf="satellite !== ''">{{satellite.type}}</td>
        <td *ngIf="satellite !== ''">{{satellite.operational}}</td>
        <td *ngIf="satellite !== ''">{{satellite.orbitType}}</td>
        <td *ngIf="satellite !== ''">{{satellite.launchDate}}</td>
    </tr>
</table>

<p>{{satellites[8].name}}</p>
<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

